.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: 0.8rem;
  background-color: #e6e6e6;
  color: #000000;
  padding: 0.6rem 1rem;
  border-radius: 30px;
  width: 17em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
  outline: none;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #e6e6e6;
}

.search__button {
  border: none;
  background-color: #e6e6e6;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

@media (max-width: 800px) {
  .search__input {
    width: 13em;
    border: 1px solid rgba(0, 0, 0, 0.185);
  }
}

@media (max-width: 330px) {
  .search__input {
    width: 10em;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 0.4rem 1rem;
  }
}
