@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding-top: 5rem;
  --color-primary: rgb(0, 0, 0);
  --color-secondary: #000000ba;
  background: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 1.2s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

h1 {
  padding: 0.8rem 0;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  transition: 0.5s ease-in-out;
  border-radius: 8px;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: #ffffffea;
}
